
.template{
    width: 1000px;
    height: 900px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
      "header header header"
      "navLL main navLR"
      "footer footer footer"
    ;
    
  }
  .header{
    grid-area: header;
  background: rgb(255, 121, 222);
  }
  .navLL{
    grid-area: navLL;
    background: rgb(255, 255, 255);
  }

  .main{
    grid-area: main;
    background: rgb(243, 247, 255);
  }
  .navLR{
    grid-area: navLR;
    
  }
  .footer{
    grid-area: footer;
    background: rgb(255, 0, 21);
  }
  
  