$font-title: 'Quicksand', sans-serif;
$font-paragraphe: 'Tajawal', sans-serif;
.card{
  width: 417px;
  height: 360px;
  border: 2px solid black;
  /* background: rgba(255, 210, 151, 0.376); */
  

}
.card :hover{
  background: cadetblue;
}
.cardDescription{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $font-paragraphe
  
}
.cardDescription :hover{
  background: cadetblue;
 
}
  
  