$font-title: 'Quicksand', sans-serif;
$font-paragraphe: 'Tajawal', sans-serif;
.card2{
    width: 417px;
    height: 360px;
    border: 2px solid black;
    background: rgb(255, 145, 0);
  
  }
  .card2 :hover{
    background: cadetblue;
  }
  .card2_cardDescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $font-paragraphe;
  }
  .card2_cardDescription :hover{
    background: cadetblue;
  }
    
    